@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .btn-primary-wide {
    @apply bg-actionPeach text-white text-sm tracking-widest py-2 px-6 rounded-md w-full
  }
}

@layer components {
  .btn-secondary-wide {
    @apply bg-actionGray text-sm tracking-widest py-2 px-6 rounded-md w-full
  }
}

@layer components {
  .btn-primary-small {
    @apply bg-actionPeach text-white text-sm tracking-widest py-2 px-6 rounded-md w-1/2
  }
}

@layer components {
  .btn-secondary-small {
    @apply bg-actionGray text-sm tracking-widest py-2 px-6 rounded-md w-1/2
  }
}


@layer components {
  .img-small {
    @apply  rounded-md object-cover w-48 h-48
  }
}

@layer components {
  .img-large {
    @apply  rounded-md object-cover w-96 h-96
  }
}

@layer components {
  .icon-small {
    @apply  text-xs text-white
  }
}

@layer components {
  .icon-large {
    @apply  text-2xl text-white
  }
}

@layer components {
  .form-input {
    @apply  text-black rounded-md py-1 px-2
  }
}

@layer components {
  .form-label {
    @apply text-white
  }
}







/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
